Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  google-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory.
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  performance-*,
  portability-*,
  readability-*,

CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1
FormatStyle: 'file'