# Prerequisites
*.d

# Directories
/build 
/.vscode
/out
/.vs
/.cache

# Compiled Object file
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Configurations
*.ini

# Cache
*.idx

