[submodule "Vendor/googletest"]
	path = Vendor/googletest
	url = https://github.com/google/googletest
[submodule "Vendor/benchmark"]
	path = Vendor/benchmark
	url = https://github.com/google/benchmark
